
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

  <div id="app">
    <h2>Nama</h2>
    <input type="text" placeholder="tambah nama" v-model:value="newName" />
    <button @click="addName">Add</button>
    <ul>
        <li v-for="item in users">
            <s v-if="item.done">{{ item.name }}</s>
            <b v-else>{{ item.name }}</b>
            
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newName: "",
        users: [
            {'done': false, name: "Muhammad Iqbal Mubarok"},
            {'done': false, name: "Ruby Purwanti"},
            {'done': false, name: "Faqih Muhammad"},
        ]
      },
      methods: {
          addName: function(){
              this.users.push({'done': false, 'name': this.newName});
              this.newName = "";
          }
      }
    })
  </script>
</body>

</html>